
Library/
Temp/
Logs/
.vs/
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Logs/AssetImportWorker0.log
UnityEditor.TestRunner.csproj
*.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker0.log
